<!DOCTYPE html>
<html>
<head>
    <title>5x5 Matchmaking System</title>
    <script src="/static/js/5x5.js ">

    </script>
</head>
<body>
    <h1>5x5 Matchmaking</h1>
    <a href="http://176.109.110.111/team/page/ybica-team">Страница команды</a>
    <h2>User Data:</h2>
    <pre id="userData"></pre>
    <select id="teamSelect"></select>
    <div id="memberSearch">
    <button onclick="startMatchmaking(false)">Start Matchmaking as team member.</button>
    <p>In this case all your team will need to confirm founded match.</p>
    </div>
    <div id="captainSearch">
    <button onclick="startMatchmaking(true)">Start Matchmaking as team captain.</button>
    <p>In this case you will be only need to confirm founded match.</p>
    </div>
    <div id="matchmakingStatus">Waiting to start matchmaking...</div>
    <button id="confirmReadyPlayer" style="display:none;" onclick="confirmReadyPlayer()">Confirm Ready</button>
    <br>
    <button id="notConfirmReadyPlayer" style="display:none;" onclick="notConfirmReadyPlayer()">Not Confirm</button>
    <button id="confirmReadyCaptain" style="display:none;" onclick="confirmReadyCaptain()">Confirm Ready</button>
    <br>
    <button id="notConfirmReadyCaptain" style="display:none;" onclick="notConfirmReadyCaptain()">Not Confirm</button>
</body>
</html>
