<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Registration Complete</title>
</head>
<body>
    <input type="text" id="userNickname" placeholder="Enter your nickname">
    <input type="tel" id="phoneNumber" placeholder="Enter your phone number">
    <input type="password" id="password" placeholder="Enter your password">
    <input type="file" id="avatar" accept="image/*">

    <button onclick="submitRegistration()">complete registration</button>

    <script src="/static/js/continue-reg.js">
    </script>
</body> 
</html>
