
html { overflow-x:  hidden; }


body {
    overflow-y: scroll; /* Поддерживает прокрутку */
}

body::-webkit-scrollbar {
    display: none; /* для Google Chrome
}

body {
    -ms-overflow-style: none; /* для Edge */
    scrollbar-width: none; /* для Firefox */
}

body{
    background-color: black;
    padding: 0;
    margin: 0;
}
a {
     text-decoration: none;
}



/* ТУТ НЕРЕАЛЬНОГО ФОРМАТА СКРОЛЛ */

#блок2 {

    height: 100%;
    
}

/*  */



.box{
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: grid;
    min-height: 100vh;
    
}
.button {
    background-color: #ffffff; /* White */
    border:#6e13c4;
    color: rgb(99, 122, 151);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    width: 200px;
    border-radius: 2px;
    align-items:center ;
    transition: all 0.8s ease
}

.button:hover {
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
    border-radius: 10px;
}
.button2{
    background-color: #000000; /* White */
    border:#6e13c4;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    text-align: center;
    width: 150px;
    border-radius: 2px;
}
.button2:hover{
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
    border-radius: 10px;
}


.image{
    border-radius: 10px;
    display: block;
    margin: auto;
}
.card{
    background-color: white;
    width: 300px;
    border-radius: 20px;
    padding: 20px;
}
.card-title-nick{
    margin-top: 20px;
    font-size: 27px;
}
.text{
    text-align: center;
    color: rgb(255, 255, 255);
}
.container{
    display: grid;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
.card-container{
    display: grid;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
.header{
    width: 1920px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    min-height: 100vh;
}

/* .object{
    width: 100%;
    height: 50px;
    color: aliceblue;
    align-items: center;
    display: grid;

} */
.object {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .object ui{
    height: inherit;
    width: inherit;
    display: flex;
    padding: 35px;
    list-style-type: none;
    text-align: center;
    align-items: center;  
} */
.object ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
}
/* .object li{
    margin-right: 50px;
} */
.object li {
    margin-right: 50px;
}
.object li:last-child {
    margin-right: 0;
    margin-left: auto;
}
.footer{
    width: 100%;

}
.header-top {
    width: 100%;
    text-align: center;
    animation: visibleAnimation  4s ease;
}
.object ui {
    justify-content: center;
    display: flex;
    padding: 35px;
    list-style-type: none;
    text-align: center;
    align-items: center;  
}



/* АНИМАЦИЯ КАК ФУНКЦИЯ ДЛЯ ЭЛЕМЕНТОВ ЛОЛ */
@keyframes visibleAnimation {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.header-top{
    animation: visibleAnimation 4s ease-in-out forvards;
}

.search-icon {
    width: 20px; /* или любой другой размер, который вам подходит */
    height: 20px; /* поддерживайте одинаковую ширину и высоту для сохранения пропорций */
}

@media (max-width: 600px) {
    .search-icon {
        width: 10%;
    }
}

.search-button {
    background: none; /* Убирает фон */
    border: none;    /* Убирает рамку */
    cursor: pointer; /* Опционально, делает курсор в виде руки при наведении */
}

.card-top1 {
    width: 350px; /* Больший размер для выделения */
    animation: visibleAnimation 4s ease; /* Анимация */
    z-index: 2; /* Убедитесь, что карточка находится над другими элементами */
    margin: 10px; /* Добавляем отступ для лучшего выделения */
}
