<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".\new_page.css">
    <title>Профиль</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="conteiner">
        <div class="img"> 
            <img src = ".\фото\kise.jpg" alt="Hot SHIIIIT" class = "image">
            <ui>
                <p class = "username">Zorenko Konstantin</p>
                <P class = "user"><small style = "color:blueviolet">В сети</small></p>
                <p class = "user">Total MMR:______</p>
                <p class = "user">Win condition:____%</p>
            </ui>
        </div>
        <div class="comand">
            <div class="comanda">
                <img src=".\фото\team.jpg" alt="Команда в которой состот пользователь" class ="comand-img">
            </div>
        </div>
    </div>

    

</body>
</html>