<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация и Авторизация</title>
</head>
<body>
    <form id="registrationForm">
        <input type="email" id="email" placeholder="Email" required>
        <input type="text" id="nickname" placeholder="Nickname" required>
        <input type="password" id="password" placeholder="Password" required>
        <input type="file" id="avatar" accept="image/*">
        <button type="submit">Register</button>
    </form>
    <a id="googleAuth">Войти с Google</a>
    <script src="/static/register-logic.js"></script>
</body>
</html>