<!DOCTYPE html>
<html>
<head>
    <title>1x1 Matchmaking System</title>
    <script src="/static/js/solo.js">

    </script>
</head>
<body>

    <h1>1x1 Matchmaking</h1>

    <h2>User Data:</h2>
    <pre id="userData"></pre>
    <a href="http://localhost:8082/team/page/urod">Страница команды</a>
    <button id="startMatchmaking" onclick="startMatchmaking()">Start Matchmaking</button>
    <div id="matchmakingStatus">Waiting to start matchmaking...</div>
    <button id="confirmReady" style="display:none;" onclick="confirmReady()">Confirm Ready</button>
    <button id="notConfirm" style="display:none;" onclick="notConfirmReady()">Not Confirm</button>

</body>
</html>
