<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Страница Команды</title>
    <style>
        .team-info {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div id="matchInvitation" style="display:none; margin-top:20px;">
        <button id="acceptMatch" style="background-color: green; color: white; padding: 10px 20px; margin-right: 10px;">Принять матч</button>
        <button id="declineMatch" style="background-color: red; color: white; padding: 10px 20px;">Не принять</button>
    </div>
    <div class="team-info">
        <h1 id="teamName">Загрузка...</h1>
        <p id="teamCaptain">Капитан: Загрузка...</p>
        <p id="teamNumber">Участники: Загрузка...</p>
        <img id="teamImage" src="" alt="Аватар команды" style="max-width: 200px;">
    </div>

    <button id="renameTeamButton">Переименовать команду</button>
    <input type="text" id="newTeamName" style="display: none;">
    <button id="saveChangesButton" style="display: none;">Сохранить изменения</button>

    <label>
        <input type="checkbox" id="isCaptainOnlySearch"> Поиск только капитана
    </label>

    <button id="joinTeamButton" onclick="joinTeam()">Присоединиться к команде</button>

    <div id="teamMembers" class="team-members">
        <h2>Участники команды:</h2>
        <ul id="membersList"></ul>
    </div>
    <button id="leaveTeamButton" onclick="leaveTeam()" style="display: none;">Покинуть команду</button>


<script src="/static/js/team.js"></script>
</body>
</html>