<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создать команду</title>
    <link rel="stylesheet" href="http://176.109.110.111/styles/styles.css">
</head>
<body>
    <header style="border-bottom: 1px solid #000000">
        <a href="http://176.109.110.111/templates/index.html"><p class="titleHeader">Basket Place</p></a>
        <ul class="menuHeaderWhite">
            <li><a href="http://176.109.110.111/templates/ladder.html">Ладдер</a></li>
            <!--            <li><a href="#">Матчи</a></li>-->
            <li><a href="http://176.109.110.111/templates/searchMatch.html">Найти матч</a></li>
            <li><a href="http://176.109.110.111/templates/createTeam.html">Команды</a></li>
        </ul>
        <div class="linksHeader">
            <a href="http://176.109.110.111/templates/profile.html"><img src="http://176.109.110.111/static/AccountBlack.svg" alt=""></a>
            <a href="#"><img src="http://176.109.110.111/static/SearchBlack.svg" alt=""></a>
        </div>
    </header>
    <div id="teamsContainer"></div>
    <form class="containerCreateTeam" id="teamForm">
        <h2 style="text-align: center">Создайте свою команду</h2>
        <input class="inputCreate" type="text" id="teamName" placeholder="Название команды">
        <button type="submit">Создать</button>
    </form>
<script src="http://176.109.110.111/js/createTeam.js"></script>
</body>
</html>
