<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создать команду</title>
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <header style="border-bottom: 1px solid #000000">
      <a href="index.html"><p class="titleHeader">Basket Place</p></a>
      <ul class="menuHeaderWhite">
        <li><a href="ladder.html">Ладдер</a></li>
        <li><a href="match.html">Матчи</a></li>
        <li><a href="team.html">Команды</a></li>
      </ul>
      <div class="linksHeader">
        <a href="#"><img src="static/SearchBlack.svg" alt=""></a>
        <a href="#"><img src="static/AccountBlack.svg" alt=""></a>
      </div>
    </header>
    <div id="teamsContainer"></div>
    <form class="containerCreateTeam" id="teamForm">
        <h2 style="text-align: center">Создайте свою команду</h2>
        <input class="inputCreate" type="text" id="teamName" placeholder="Название команды">
        <button type="submit">Создать</button>
    </form>
<script src="./js/createTeam.js"></script>
</body>
</html>
