<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://176.109.110.111/styles/styles.css">
    <title>Ладдер</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
</head>
<body>
<section class="containerWithImage">
    <header>
        <a href="http://176.109.110.111/templates/index.html"><p class="titleHeader">Basket Place</p></a>
        <ul class="menuHeader">
            <li><a href="#">Ладдер</a></li>
            <li><a href="http://176.109.110.111/templates/match.html">Матчи</a></li>
            <li><a href="http://176.109.110.111/templates/createTeam.html">Команды</a></li>
        </ul>
        <div class="linksHeader">
            <a href="http://176.109.110.111/templates/profile.html"><img src="http://176.109.110.111/static/Account.svg" alt=""></a>
            <a href="#"><img src="http://176.109.110.111/static/SearchBlack.svg" alt=""></a>
        </div>
    </header>
    <div class="containerCards" style="margin-top: 100px">
        <div class="cardLadder">
            <h1>Топ 30 соло-игроков</h1>
            <div class="cardTopSolo">
                <div class="infoCard">
                    <h2>1</h2>
                    <img src="http://176.109.110.111/static/logoPreview.svg">
                    <h2>Назар</h2>
                </div>
                <p>PTS: <span>10000</span></p>
            </div>
            <div class="cardTopSolo">
                <div class="infoCard">
                    <h2>1</h2>
                    <img src="http://176.109.110.111/static/logoPreview.svg">
                    <h2>Назар</h2>
                </div>
                <p>PTS: <span>10000</span></p>
            </div>
            <div class="cardTopSolo">
                <div class="infoCard">
                    <h2>1</h2>
                    <img src="http://176.109.110.111/static/logoPreview.svg">
                    <h2>Назар</h2>
                </div>
                <p>PTS: <span>10000</span></p>
            </div>
            <div class="cardTopSolo">
                <div class="infoCard">
                    <h2>1</h2>
                    <img src="http://176.109.110.111/static/logoPreview.svg">
                    <h2>Назар</h2>
                </div>
                <p>PTS: <span>10000</span></p>
            </div>
            <div class="cardTopSolo">
                <div class="infoCard">
                    <h2>1</h2>
                    <img src="http://176.109.110.111/static/logoPreview.svg">
                    <h2>Назар</h2>
                </div>
                <p>PTS: <span>10000</span></p>
            </div>
            <div class="cardTopSolo">
                <div class="infoCard">
                    <h2>1</h2>
                    <img src="http://176.109.110.111/static/logoPreview.svg">
                    <h2>Назар</h2>
                </div>
                <p>PTS: <span>10000</span></p>
            </div>
        </div>
    </div>
</section>
</body>
</html>
