<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://176.109.110.111/styles/styles.css">
    <title>Ваш профиль</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header style="border-bottom: 1px solid #000000">
        <a href="http://176.109.110.111/templates/index.html"><p class="titleHeader">Basket Place</p></a>
        <ul class="menuHeaderWhite">
            <li><a href="http://176.109.110.111/templates/ladder.html">Ладдер</a></li>
<!--            <li><a href="http://176.109.110.111/templates/match.html">Матчи</a></li>-->
            <li><a href="http://176.109.110.111/templates/searchMatch.html">Найти матч</a></li>
            <li><a href="http://176.109.110.111/templates/createTeam.html">Команды</a></li>
        </ul>
        <div class="linksHeader">
            <a href="#"><img src="http://176.109.110.111/static/SearchBlack.svg" alt=""></a>
        </div>
    </header>
    <div class="avatarProfile">
        <img id="userAvatar" style="width: 200px; height: 200px; border: 1px solid #000000; border-radius: 100%" src="http://176.109.110.111/static/AccountBlack.svg">
        <div>
            <input onchange="attemptUpload()" style="display: none" type="file" id="fileInput">
            <label for="fileInput" class="fileInputLabel">
                <img style="cursor: pointer;" class="editImg" src="http://176.109.110.111/static/Edit.svg">
            </label>
            <a href="#" onclick="logout()"><img class="editImg" src="http://176.109.110.111/static/Exit.svg" id="logout"></a>
        </div>
    </div>
    <h2 id="userNickname" class="nickname"></h2>
    <h2 id="userEmail" style="text-align: center"><span style="color: #000000"></span></h2>
<script src="http://176.109.110.111/js/user.js"></script>
<script src="http://176.109.110.111/js/getUserData.js">
    document.getElementById('userAvatar').src = `http://176.109.110.111/profile/image/${userData.id}`;
</script>
</body>
</html>
