<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="http://176.109.110.111/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="containerWithImage">
        <header>
            <a href="index.html"><p class="titleHeader">Basket Place</p></a>
        </header>
        <div style="margin-top: 224px">
            <form class="cardReg" id="regForm">
                <p>Регистрация</p>
                <input placeholder="Имя" id="nickname" type="text">
                <input placeholder="E-mail" id="email" type="email">
                <input placeholder="Пароль" id="password" type="password">
                <button type="submit">Регистрация</button>
                <button class="googleButton">
                    Sign in with Google
                    <img src="static/google.svg" alt="">
                </button>
                <p class="textRegLogin">Есть аккаунт?</p>
                <a href="login.html"><p>Войти</p></a>
            </form>
        </div>
    </section>
<script src="./js/register.js"></script>
<script src="./js/login.js"></script>
</body>
</html>
