<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Команда</title>
    <link rel="stylesheet" href="http://176.109.110.111/styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header style="border-bottom: 1px solid #000000">
        <a href="index.html"><p class="titleHeader">Basket Place</p></a>
        <ul class="menuHeaderWhite">
            <li><a href="ladder.html">Ладдер</a></li>
            <li><a href="match.html">Матчи</a></li>
            <li><a href="#">Команды</a></li>
        </ul>
        <div class="linksHeader">
            <a href="profile.html"><img src="static/AccountBlack.svg" alt=""></a>
            <a href="#"><img src="static/SearchBlack.svg" alt=""></a>
        </div>
    </header>
    <div class="containerTeam">
        <img class="logoTeam" src="static/team.svg">
        <div class="linksTeam">
            <img src="static/Edit.svg">
            <img src="static/Exit.svg">
            <img src="static/Delete.svg">
        </div>
        <h2>БК Барбершоп КПСС</h2>
        <h2 style="text-align: left; margin: 10px">Члены команды</h2>
        <div class="cardTeamPlayers">
            <img src="static/logoPreview.png">
            <div class="infoPlayer">
                <div class="leaderPlayer">
                    <p>Назар</p>
                    <img src="static/leader.png">
                </div>
                <p><span>PTS: 10000</span></p>
            </div>
        </div>
        <div class="cardTeamPlayers">
            <img src="static/logoPreview.png">
            <div class="infoPlayer">
                <p>Данёк</p>
                <p><span>PTS: 10000</span></p>
            </div>
        </div>
    </div>
</body>
</html>
